@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles */
.btn-demo {
  @apply bg-gray-300 p-3 mr-3 rounded-md;
}

.demo {
  @apply flex items-center gap-3;
}

.error {
  background-color: red;
  color: white;
  padding: 7px;
  width: 500px;
}
